@import "tailwindcss";

@keyframe cascade {
  0% { transform: translateY(-100vh) rotate(0deg); opacity: 0; }
  10% { opacity: 1; }
  100% { transform: translateY(100vh) rotate(360deg); opacity: 0; }
}

.cascade-item {
  position: fixed;
  top: 0;
  font-size: 24px;
  z-index: 0;
  pointer-events: none;
  user-select: none;
  animation: cascade linear infinite;
}